*{
    background-color: #c2c2c2;
}

#titulo{
    font: 14px verdana;
    margin-left: 35%;
    margin-top: 150px;
}

#cadastro {
    font: 14px verdana;
    margin-left: 35%;
}


#listaAlunos {
    font: 14px verdana;
    margin-left: 20%;
}

table tr td {
    width: 140px;
}